<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Recuperar contraseña</title></head>
<body>
<h2>Restablecer contraseña</h2>

<!-- Mostrar mensaje de error si viene flag ?error -->
<p th:if="${param.error}" style="color:red">
    Usuario incorrecto. Inténtalo otra vez.
</p>

<form th:action="@{/recovery}" method="post">
    <label>Usuario:</label>
    <input name="username" required/><br/>

    <label>Nueva contraseña:</label>
    <input type="password" name="nuevaPassword" required/><br/>

    <button type="submit">Guardar</button>
</form>
</body>
</html>

